/* MODAL EDIT */
:disabled {
    cursor: no-drop;
}

.form-edit-user {
    width: 100%;
    display: grid;
    gap: 10px;
}

.form-edit-user .form-edit-user-item {
    display: flex;
    flex-direction: column;
}

.form-edit-user .form-edit-user-item select {
    padding: 5px;
    outline: none;
}