.container-header{

    width: 100%;

}

.header {
    background-color: #fff;
    position: fixed;
    z-index: 10000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

}

.header .header-left {
    text-align: left;
    width: 5%;
}

.header .header-right{
    display: flex;
    width: 75%;
    justify-content: end;
    gap: 60px;
    align-items: center;
}

.header .nav .nav-list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.header .nav .nav-list .nav-item a:hover {
    color: #E72C33;
}

.header .nav .nav-list .nav-item a {
    list-style-type: none;
    color: #000;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
}

.header .header-right .search {
    display: flex;
    position: relative;
}

.header .header-right .search input {
    border-radius: 10px;
    background-color: #fff;
    border: 0.5px solid black;
    padding: 7px ;
    width: 100%;
}

.header .header-right .search .icon-search{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header .header-right .cart  {
    position: relative;
}

.header .header-right .cart .icon-cart {
    font-size: 1.5rem;
}

.header .header-right .cart .soluong{
    position: absolute;
    left: 60%;
    top: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(225, 255, 0);
}

.header .header-right .cart .soluong span{
    display: block;
    font-size: 0.8rem;
    font-weight: bold;
}

.header .header-right .account .icon-user a {
    font-size: 1.5rem;
    color: #213547;
}
