/* orderDetail.css */
.order-detail {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.order-detail .ant-table {
  margin-top: 20px;
}

/* order list  */
/* orderList.css */
.order-list {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.order-list h2 {
  margin-bottom: 20px;
}
