.item-Voucher{
    margin-top: 40px;
    display: flex;
    gap: 20px;
}
.voucher-container{
    width: 310px;
    height: 100%;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    /* border: 1px solid black; */
}
.code-Voucher{
    padding-top: 6px;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
   
}
.code-Voucher .code{
    font-size: 15px;
    color: #007ef2;
    font-weight: 700;
}
.code-Voucher .date{
    font-size: 12px;
    color: #b1b1b3;
}
.descripsion{
    text-align: left;
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
    color: black;
}
.bt{
    display: flex;
    margin-left: 30px;
    gap: 10px;
    border-radius: 20px;
    margin-bottom: 10px;

}
.bt .btn-left{
    border-radius: 20px;
    border: 1px solid red;
}
.bt .btn-left:hover{
    background-color: red;
    color: white;
}
.bt .btn-right{
    border-radius: 20px;
    color: #b1b1b3;
}
@media screen and (max-width: 768px) { 
    .item-Voucher{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .voucher-container{
        max-height: 100px;
        padding-bottom: 30px;
    }
    .code-Voucher{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 50px;
        margin-left: 50px;
    }
}
