.item-Voucher{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.voucher-container{
    max-width: 305px;
    max-height: 100%;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    border: 1px solid black;
}
.code-Voucher{
    padding-top: 6px;
    margin: 10px ;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
.code-Voucher .code{
    font-size: 15px;
    color: #007ef2;
    font-weight: 700;
}
.code-Voucher .date{
    font-size: 12px;
    color: #b1b1b3;
}
.descripsion{
    text-align: left;
    margin-left: 10px;
    font-weight: 700;
    font-size: 14px;
}
.bt{
    display: flex;
    margin-left: 35px;
    gap: 10px;
    border-radius: 20px;
    padding-top: 5px;
    margin-bottom: 10px;

}
.bt .btn-left{
    border-radius: 20px;
    border: 1px solid red;
}
.bt .btn-left:hover{
    background-color: red;
    color: white;
}
.bt .btn-right{
    border-radius: 20px;
    color: #b1b1b3;
}
@media screen and (max-width: 767px) { 
    .item-Voucher{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 50px;
        margin-left: 50px;
    }
}
