.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin-bottom: 50px;
}
.cart-new {
  /* width: calc(100%/3); */
  height: auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}
.cart-new img {
  width: 100%;
  height: 220px;
  border-radius: 5px;
  object-fit: cover;
}
.card-information {
  text-align: justify;
  width: 100%;
}
.card-title {
  text-align: center;
  color: #000;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  color: black;
}
.card-info {
  display: block;
  width: 100%;
  max-height: 100px; /* Giới hạn chiều rộng */
  overflow: hidden; /* Ẩn nội dung bị tràn */
  text-overflow: ellipsis; /* Thêm dấu "..." khi bị cắt */
}
.card-action {
  display: flex;
  justify-content: space-between;
}
.card-action span i {
  font-size: 30px;
  margin-right: 10px;
}
.card-date {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 16px;
  font-weight: 600;
}
.card-date span {
  margin-right: 5px;
}
.card-btn {
  outline: none;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ff0000;
  color: #ff0000;
  background-color: #fff;
  font-weight: 600;
}
