.container-login-register {
  margin: 0 auto;
  background-color: #bcb9b9;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 500px;
}

.container-login-register p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container-login-register a {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container-login-register button {
  background-color: #512da8;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid #512da8;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container-login-register button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.container-login-register .form {
  background-color: #bcb9b9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.container-login-register input {
  background-color: #eee;
  border: none;
  margin-top: 12px;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container-login-register.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container-login-register.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}

.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
  color: #000;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 100;
}

.container-login-register.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle {
  height: 100%;
  background-color: #515151;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container-login-register.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-panel p {
  /* display: flex;
    flex-wrap: wrap; */
  padding: 0 10px;
}

.toggle-left {
  transform: translateX(-200%);
}

.container-login-register.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container-login-register.active .toggle-right {
  transform: translateX(200%);
}

.container-login-register .toggle-container .toggle .toggle-left .btn-dang-nhap,
.container-login-register .toggle-container .toggle .toggle-right .btn-dang-ky {
  background-color: #fff;
  border: none;
  color: #000;
  font-weight: bold;
}

.tro-ve-trang-chu p {
  margin: 0;
  font-size: 12px;
}

.tro-ve-trang-chu p > a {
  color: #000000;
  font-size: 13px;
  font-weight: bold;
}

.sign-in .quen-mat-khau {
  color: #000000;
}

.sign-in .quen-mat-khau:hover {
  color: #c62828;
}

.main_dlmk {
  background-color: white;
  width: 450px;
  height: 100%;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main_dlmk .top_dlmk {
  font-weight: 500;
  padding: 20px 0 20px 20px;
  display: flex;
  gap: 110px;
  align-items: center;
  font-size: 20px;
}
.main_dlmk .center_dlmk {
  width: 100%;
}
.main_dlmk .center_dlmk input {
  display: block;
  height: 40px;
  width: 80%;
  margin: 0 auto;
  padding: 0 10px;
  border-radius: 5px;
  border: 0.5px solid #6e6e6e;
  font-size: 15px;
  color: #000;
}
.main_dlmk .bot_dlmk button {
  width: 320px;
  background-color: red;
  color: white;
}
.main_dlmk .bot_dlmk {
  padding: 20px 0 20px 70px;
}

/* codepass */
.main_code {
  background-color: white;
  width: 450px;
  height: 100%;
  margin: 100px 0 300px 500px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main_code .top_code {
  font-weight: 500;
  padding: 20px 0 20px 20px;
  display: flex;
  gap: 110px;
  align-items: center;
  font-size: 20px;
}
.main_code .center_code {
  padding: 20px 0 20px 70px;
  width: 50px;
}
.main_code .center_code input {
  height: 40px;
  width: 300px;
  border-radius: 5px;
  border: 0.5px solid #6e6e6e;
}
.main_code .center_code input[type="number"] {
  padding-left: 20px;
  font-size: 15px;
  color: #dddddd;
}
.main_code .bot_code button {
  width: 320px;
  background-color: red;
  color: white;
}
.main_code .bot_code {
  padding: 20px 0 20px 70px;
}

/* resset password */
.main_reset_password {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset_password {
  background-color: #fff;
  width: 400px;
  /* height: 500px; */
  /* border: 1px solid gray; */
  /* text-align: center; */
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 10px;
}
.titele_reset_password {
  display: flex;
  align-items: center;
  /* justify-content: space-between;     */
  text-align: center;
  margin-bottom: 10px;
}
.titele_reset_password h2 {
  margin-left: 100px;
}
.reset_password_input {
  width: 100%;
  /* padding: 8px; */
  margin: 10px 0px 10px 0px;
}
.reset_password_input p {
  margin-bottom: 5px;
}
.reset_password_input-newpw {
  width: 94%;
  padding: 10px;
  border-radius: 10px;
  /* margin-bottom: 10px; */
}
.resset-password-btn {
  width: 100%;
  background-color: red;
  color: white;
}
