.add-product {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.action-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* form product  */
.product-form-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.product-form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Style cho form */
.product-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #333;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 0;
}

.form-group input[type="file"] {
  padding: 10px 0;
}

.form-group textarea {
  resize: vertical;
}

.submit-btn {
  padding: 12px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #218838;
}

.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

/* trang sá»­a product  */
/* editProduct.css */
.edit-product {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.edit-product h2 {
  margin-bottom: 20px;
}

.css-dev-only-do-not-override-vryruh .ant-table-wrapper .ant-table-cell,
.css-dev-only-do-not-override-vryruh .ant-table-wrapper .ant-table-thead>tr>th,
.css-dev-only-do-not-override-vryruh .ant-table-wrapper .ant-table-tbody>tr>th,
.css-dev-only-do-not-override-vryruh .ant-table-wrapper .ant-table-tbody>tr>td,
.css-dev-only-do-not-override-vryruh .ant-table-wrapper tfoot>tr>th,
.css-dev-only-do-not-override-vryruh .ant-table-wrapper tfoot>tr>td {
  position: relative;
  overflow-wrap: break-word;
  padding: 5px !important;
}