.logo_admin {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  height: 64px; /* Chiều cao logo */
  transition: all 0.3s ease; /* Chuyển động mượt khi thu gọn */
  border-bottom: 2px solid #ffff;
  margin-bottom: 10px;
}

.logo_admin img {
  width: 60px; /* Kích thước logo */
  transition: all 0.3s ease; /* Chuyển động mượt khi thu gọn */
}

.logo_admin span {
  margin-left: 10px;
  font-size: 24px;
  color: white;
  font-weight: 700;
}
/* header tìm kiếm  */
.header-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 15px;
}
.Notification {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
