.itemProduct-container{
    max-width: 1157px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    gap: 20px;
}
.itemProduct{
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-height: 489px;
    text-align: center;
}
.product-img img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.product-img img:hover {
    transform: scale(1.1);
}

.product-description p{
    font-size: 14px;
    font-weight: 700;
    padding: 10px;
    color: black;

}
.product-pricing{
    display: flex;
    justify-content: space-between;
}
.product-pricing .tag{
    margin: 0 0 -10px;
    padding: 10px;
    background-color:  rgb(255, 179, 179);
    text-align: center;
    width: 10%;
    height: 100%;
    color: red;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
}
.product-pricing-1{
    display: block;
    text-align: left;
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
}

.product-pricing .price{
    color: red;
    font-weight: 700;
    font-size: 16px;
}
.add-to-cart-btn{
    background-color: #E72C33;
    border-radius: 30px;
    color: white;
}
.itemProduct .add-to-cart-btn:hover{
    background-color: #218838;
}

