
.itemProduct-container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    gap: 20px;

}
.itemProduct{
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.product-img {
    overflow: hidden;
}
.product-img img{
    max-width: 100%;
    max-height: 256px;
    display: block;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.product-img img:hover {
    transform: scale(1.1);
}

.product-description p{
    font-size: 14px;
    font-weight: 700;
    height: 42px;
    display: -webkit-box;        /* Sử dụng hộp box */
    -webkit-box-orient: vertical; /* Xếp các dòng theo chiều dọc */
    overflow: hidden;            /* Ẩn phần văn bản bị tràn */
    -webkit-line-clamp: 2;       /* Hiển thị tối đa 2 dòng */
    text-overflow: ellipsis;     /* Thêm dấu ba chấm khi bị cắt */
    /* padding: 10px; */
    color: black;
}
.product-pricing{
    display: flex;
    justify-content: space-between;
}
.product-pricing .tag{
    margin: 0 0 -10px;
    padding: 10px;
    background-color:  rgb(255, 179, 179);
    text-align: center;
    height: 100%;
    color: red;
    border-radius: 10px;
    font-weight: 700;
    font-size: 14px;
}
.product-pricing-1{
    display: block;
    text-align: left;
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
}

.product-pricing .price{
    color: red;
    font-weight: 700;
    font-size: 16px;
}
.add-to-cart-btn{
    background-color: #E72C33;
    border-radius: 30px;
    color: white;
}
.itemProduct .add-to-cart-btn:hover{
    background-color: #218838;
}
@media screen and (max-width:768px) {
    .itemProduct-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-top: 20px;

}
.left-arrow, .right-arrow {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
  }