.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.overlay {
  cursor: pointer;
  position: fixed;
  top: 75px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Màu đen xám */
  z-index: 10; /* Hiển thị trên cùng, dưới input */
}

.Toastify__toast-container {
  z-index: 99999 !important; /* Đặt z-index cao hơn để hiển thị trên các thành phần khác */
}
.spanError{
  color: rgb(233, 29, 29);
  font-size: 13px;
}



@media (prefers-color-scheme: dark) {
  body {
    color: black;
  }
  input, textarea {
    background-color: #fff;
  }
}

@media (prefers-color-scheme: light) {

}