@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

.container-footer{
    min-height: 300px;
    width: 90%;
    margin: 30px auto 0;
    color: #fff;
}

.container-footer .footer-top {
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.container-footer .footer-top a>img{
    display: flex;
    align-items: center;
}

.container-footer .footer-top hr{
    margin: 0 20px;
}

.container-footer .footer-top h2{
    display: flex;
    align-items: center;
    font-family: "Inknut Antiqua", serif;
}

.container-footer .footer-main {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    column-gap: 70px;
    text-align: left;
    margin: 10px 0 0;
    padding-bottom: 20px;
}

.container-footer .footer-main hr {
    width: 40%;
    height: 2px;
    background-color: white;
}

.container-footer .footer-main .dia-chi,
.container-footer .footer-main .dien-thoai,
.container-footer .footer-main .email {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.container-footer .footer-main .dia-chi p,
.container-footer .footer-main .dien-thoai p,
.container-footer .footer-main .email p{
    color: #fff;
}

.container-footer .footer-main .dia-chi .icon-dia-chi{
    width: 20px;
}

.container-footer .footer-main .footer-main-center .content-ve-chung-toi,
.container-footer .footer-main .footer-main-right .content-cac-chinh-sach{
    margin-top: 10px;
}

.container-footer .footer-main .footer-main-center .content-ve-chung-toi ul li a,
.container-footer .footer-main .footer-main-right .content-cac-chinh-sach ul li a{
    color: #fff;
}

.container-footer .footer-main .footer-main-center .content-ve-chung-toi ul li a:hover,
.container-footer .footer-main .footer-main-right .content-cac-chinh-sach ul li a:hover{
    color: #ff0808;
}

.footer-bottom p {
    background-color: #F2FF00;
    font-weight: bold;
    width: 100%;
    color: black;
    padding: 10px 0;
    text-align: center;
}