.container-home {
    width: 100%;
}

.Banner{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.left-section {
    flex: 1;

}

.left-section img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    
}

.right-section {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 0.4;
}

.right-section img {
    display: block;
    width: 100%;
    height: calc(100%/3);
    border-radius: 5px;
}

.info-banner {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 10px;
}

.info-banner hr {
    height: 20px;
    margin-top: 15px;

}

.info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.info-text h4 {
    font-size: 14px;
    font-weight: bold;
}

.info-text p {
    font-size: 12px;
    color: black;
    
}
.recommend{
    display: grid;
    grid-template-columns: 30% 50% 20%;
    width: 100%;
    /* width: 1282px; */
    max-height: 100%;
    background-color: white;
    border-radius: 5px;
}
.recommend .item-1{
    margin: 20px 0 20px;
    font-size: 25px;
    font-weight: 600;
    color: #0040FB;
}
.recommend .item-1{
    margin: 20px 0 20px;
    font-size: 25px;
    font-weight: 600;
    color: #0040FB;
}
.recommend .item-2{
    text-align: left;
    margin: 30px 0 20px;
    display: flex;
    gap: 30px;
}
.recommend .item-2 a{
    color: #847C7C;
}
.recommend .item-3{
    margin: 27px 0 20px;
}
.recommend .item-3 a{
    color: black;
    font-size: 20px;
    font-weight: 700;
}
@media screen and (max-width: 768px) {
    .info-banner{
        display: none;
    }
    .right-section{
        display: none;
    }
    .container-home{
        overflow-x: hidden;
    }
}

/* header product   */

.header-pk {
    /* width: 100%; */
    height: 8px;
    padding: 40px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
}
.header-link{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-link h4 {
    color: #0066FF;
    font-size: 24px;
    margin-right: 40px;
}

/* .nav-pk {
} */

.nav-pk a {
    color: #999;
    text-decoration: none;
    font-size: 16px;
    margin-right: 5px;
}

.view-more {
    color: #000;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}
  .deal-banner {
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .deal-title {
    font-size: 38px; /* Kích thước lớn hơn để khớp */
    color: red;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 30px; /* Thêm khoảng cách giữa bên trái */
  }
  
  .lightning-icon {
    font-size: 60px; /* Kích thước lớn hơn cho icon */
    color: #f8d67e;
    margin-right: 15px;
  }
  
  .countdown-container  {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-right: 40px; /* Đẩy các khối countdown gần bên phải */
  }
  
  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .time-box {
    background-color: #e20f00;
    color: white;
    padding: 10px 5px ;
    margin: 0 5px;
    border-radius: 10px; /* Bo tròn thêm để giống hình */
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    width: 90px; /* Rộng hơn một chút */
  }
  
  .time-box .number {
    font-size: 20px; /* Kích thước số lớn hơn */
    line-height: 20px; /* Điều chỉnh khoảng cách giữa số và nhãn */
  }
  
  .time-box .label {
    font-size: 18px;
    margin-top: 5px;
    text-transform: uppercase; /* Chữ in hoa giống hình */
  }
  
.countdown-container p {
    font-size: 13px;
    margin-right: 20px; 
    color: #333;
    text-align: right; 
  }