


.Banner{
    display: flex;
    margin:auto;
    justify-content: space-between;


}
.left-section img{
    width: 220%;
}

.right-section img {
    width:38%;
    margin-left: 63%;
    border-radius: 5px;
}

.info-banner {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;
    width: 101%;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    width: 10px;
    height: 10px;
}

.info-text h4 {
    font-size: 14px;
    font-weight: bold;
}

.info-text p {
    font-size: 12px;
    
}
.product-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr)); /* Định dạng lưới, tự điều chỉnh theo kích thước */
    gap: 20px;
    padding: 8px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 10px;

}

.product-item {
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.product-item img {
    width: 50%;
    height: 50%;
    margin-bottom: 5px;
}

.product-item p {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
}

.product-item:hover {
    transform: scale(1.05); /* Hiệu ứng phóng to nhẹ khi hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
